.project-page .page-container {
  gap: 100px 0;
  background-color: transparent;
  transition: background-color 1s;
  min-height: 100vh;
}

.project-page .page {
  position: relative;
  color: var(--text-color);
}

.project-page .page a {
  color: inherit;
}

@media (min-width: 800px) {
  .project-page .page-container {
    gap: 150px 0;
  }
}
