.logo-animation {
  /* opacity: 0; */
  /* transform: translateY(50px); */
  /* transition: opacity 1s ease-in-out, transform 1s ease-in-out; */

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  opacity: 1;

  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

/* .animation-container {
  opacity: 0;
  transition: opacity 3s ease 3s;
}
.animation-container.show {
  opacity: 1;
} */

.logo-animation.loaded {
  opacity: 1;
}

.projects {
  margin-top: 45vw;
}

@media (min-width: 800px) {
  .projects {
    margin-top: 100vh;
    margin-top: 100dvh;
    /* position: relative; */
    /* top: 100vh;
    top: 100dvh; */
  }
}
