.protected-page__container{
  background-color: black;
  color: white;
  max-height: 100vh;
}

.melt-logo__protected{
  padding-left: 2%;
  cursor: pointer;
  width: 40px;
  text-underline-offset: 5px;
}
/* .melt-logo__protected-underline{
  position: relative;
  width: 50%;
  top: -10px;
  transform: scaleX(.5);
  transition: transform 0.3s ease;
}
.melt-logo__protected-underline:hover{
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
} */
.login-section{
  opacity: 0;
  height: 80vh;
  /* max-height: 100vh; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-section.show{
  opacity: 1;  
  max-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1s;
}
.login-section h1{
  color: transparent;
-webkit-text-stroke-width: .5px;
-webkit-text-stroke-color: #dbef42;
transition-property: color;
transition: all .25s ease-in-out;
font-size: 3rem;
font-weight: 700;
}
.password-input{
  width: 0%;
  height: 0;
  border: none;
  background-color: #dbef42;
  background-color: transparent;
}
.password-input.expand{
  font-weight: 500;
  text-align: center;
  width: 50%;
  height: 100px;
  min-width: 300px;
  max-width: 1000px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #dbef42;
  transition: all 1.5s;
  caret-color: #dbef42;
  color: transparent;
  -webkit-text-stroke-width: .4px;
  -webkit-text-stroke-color: white;
  font-size: 5rem;
}
.password-input.expand:focus{
  /* background-color: #dbef42; */
  font-weight: 500;
  text-align: center;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #dbef42;
  caret-color: #dbef42;
  color: transparent;
  -webkit-text-stroke-width: .4px;
  -webkit-text-stroke-color: white;
  font-size: 5rem;
}
.login-button{
  
  margin-top: -30px;
  background-color: transparent;
  border: none;
  padding: 1%;
  width: 200px;
  font-size: .7rem;
  color: white;
  cursor:pointer;
}
.allowed-section{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* min-height: 150vh; */
  width: 100vw;
}
.c-kEkIHu.top-left{
  top: 20vh;
}
.wc-nav{
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-decoration: underline;
  cursor: pointer;
  font-size: .7rem;
  text-transform: uppercase;
  margin-top: -100px;
  position: relative;
  bottom: 20px;
}