.hamburger-menu__container{
  position: fixed;
  /* text-align: center; */
  width: 100vw;
  height: 100vh;
  /* background-color: #c2e23c; */
  z-index: 997;
  /* background-image: url("../../assets/images/background/Color\ Cycle.gif"); */
  /* -webkit-animation:background 20s cubic-bezier(.17,.67,.29,.85) infinite;
  animation: background 20s cubic-bezier(.17,.67,.29,.85) infinite; */
  background-color: black;
  animation: color-transition 300s linear infinite;
  animation-delay: 2s;
}

@keyframes color-transition {
  0% {
    /* background-color: #000000; */
  }
  0%{
    background-color: #aacc12;
  }
  6% {
    background-color: #00a742;
  }
  8.33% {
    background-color: #f95300;
  }
  12.5% {
    background-color: #66ac83;
  }
  16.67% {
    background-color: #5b622c;
  }
  20.83% {
    background-color: #88b6a9;
  }
  25% {
    background-color: #e34165;
  }
  29.17% {
    background-color: #ff3312;
  }
  33.33% {
    background-color: #485db3;
  }
  37.5% {
    background-color: #e74e21;
  }
  41.67% {
    background-color: #e5f1b8;
  }
  45.83% {
    background-color: #c3a875;
  }
  50% {
    background-color: #991f22;
  }
  54.17% {
    background-color: #f67133;
  }
  58.33% {
    background-color: #f1f3e9;
  }
  62.5% {
    background-color: #f8bb00;
  }
  66.67% {
    background-color: #4766b2;
  }
  70.83% {
    background-color: #ed1e24;
  }
  75% {
    background-color: #7d9fad;
  }
  79.17% {
    background-color: #296eae;
  }
  83.33% {
    background-color: #babcbe;
  }
  87.5% {
    background-color: #ff6c2f;
  }
  91.67% {
    background-color: #f9db16;
  }
  95.83% {
    background-color: #e1e9ef;
  }
  100% {
    background-color: #aacc12;
  }
}
@-webkit-keyframes background {
  0% { background-color: #000000; }
  30% { background-color: #000000; }
  50% { background-color: #dbee48; } 
  70% { background-color: #1b884b;  }
  80% { background-color: #f95300; }
  100% { background-color: #000000; }
}

@keyframes background {
  0% { background-color: #000000; }
  30% { background-color: #000000; }
  50% { background-color: #dbee48; } 
  70% { background-color: #1b884b;  }
  80% { background-color: #f95300; }
  100% { background-color: #000000; }
}
.hamburger-info__holder{
  position: relative;
  top: 20px;
  width: 90%;
}
.hamburger-info__mobile-smaller{
  /* align-self: center; */
}
@media(max-width:800px){
  .hamburger-menu__container{
    display: flex;
    justify-content: center;
    width: 100%;
    /* text-align: center; */
  }
  .hamburger-info__holder{
  position: relative;
  /* top: 20%; */
  /* left: 8%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  top: 10%;
}
}