.project-nav {
  padding: 50px 5%;
}

.project-nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px 0;
  flex-direction: column;
}

.project-nav__link.close {
  order: 3;
}

@media (min-width: 800px) {
  .project-nav {
    padding: 50px 2%;
    flex-direction: row;
  }

  .project-nav__links {
    gap: 30px 0;
    flex-direction: row;
  }

  .project-nav__link.close {
    width: auto;
    order: initial;
  }
}
