.project-text {
  display: flex;
  flex-direction: column;
  gap: 25px 0;
  padding: 0;
}

.project-text .col {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-in-out 0.5s, transform 1.5s ease-in-out 0.5s;
}

.project-text .col.full,
.project-text .col.primary {
  transition: opacity 1.5s ease-in-out 0s, transform 1.5s ease-in-out 0s;
}

.project-text.show .col {
  opacity: 1;
  transform: translateY(0);
}

.project-text .tag-block__title {
  margin-bottom: 5px;
}

.project-text .col .tag-block {
  margin-top: 3px;
}

@media (min-width: 800px) {
  .project-text {
    gap: 40px 0;
    padding: 0 20px;
  }
}
