.tag-link {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin: 0 0 1rem;
  margin: 0 0 0.35rem;
  cursor: pointer;
}

.tag-link-nav {
  margin: 1rem 0 0.3rem;
}

.tag-link-nav h3 {
  text-transform: uppercase;
  color: #ffffff;
}

/* @keyframes vars {
  0% {
    font-variation-settings: "wght" 500;
  }

  100% {
    font-variation-settings: "wght" 700;
  }
} */

.tag-link-nav h3 {
  /* font-variation-settings: "wght" 500; */
  /* letter-spacing: 0.025rem; */
  transition: font-variation-settings 0.3s ease;
  /* transition: font-variation-settings 2s ease; */
}
.tag-link-nav h3:hover {
  /* font-variation-settings: "wght" 750; */
  /* letter-spacing: 0.0125rem; */
  /* letter-spacing: -0.1px; */
  /* animation: vars 0.5s 1 ease both; */
}

.tag-link-underline {
  position: absolute;
  position: relative;
  bottom: 2px;
  bottom: 4px;
  width: 100%;
  height: 2px;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.tag-link-nav .tag-link-underline {
  /* display: none; */
  transform: scaleX(0);
}

.tag-link-underline.hover {
  transform: scaleX(0);
}
.tag-link-nav .tag-link-underline.hover {
  transform: scaleX(1);
}

.tag-link-nav .tag-link-underline hr {
  background: #ffffff;
}
