/* 
.nav-item__holder{
  margin-top: 25px;
  font-weight: 500;
  font-size: .8rem;
}
.right-side__nav-with-footer{
  display: flex;
  width: 35%;
  justify-content: space-between;
  align-items: center;
}
.nav-with-footer__Footer{
  position: fixed;
  top: 117vh;
  width:100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.nav-with-footer__Footer-container{
  display: flex;
  justify-content: space-between;
  width: 96%;
  font-weight: 600;
  font-size: .5rem;
}
.nav__with__footer__hover-effect-black{
  font-weight: 500;
  font-size: .7rem;
  color: black;
}
.melt-underline{
  position: relative;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  
}
.melt-underline.hovered{
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.follow-underline{
  position: relative;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  
}
.follow-underline.hovered{
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.phone-underline{
  position: relative;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.phone-underline.hovered{
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.email-underline{
  position: relative;
  top: -7px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  
}
.email-underline.hovered{
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.about-underline{
  position: relative;
  top: -7px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.about-underline.hovered{
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.sweat-underline{
  position: relative;
  top: -7px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.sweat-underline.hovered{
  position: relative;
  top: -7px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.copywrite-underline{
  position: relative;
  top: -7px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.copywrite-underline.hovered{
  position: relative;
  top: -7px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

@media (max-height: 800px), screen and (max-width:800px){

  .nav-item__holder{
    margin-top: 20px;
    font-weight: 500;
    font-size: .6rem;
  }
  .follow-underline.hovered{
    position: relative;
    top: -5px;
    width: 100%;
    text-align: center;
    transform: scaleX(1);
    transition: transform 0.3s ease;
  }
  .phone-underline.hovered{
    position: relative;
    top: -5px;
    width: 100%;
    text-align: center;
    transform: scaleX(1);
    transition: transform 0.3s ease;
  }
  .email-underline.hovered{
    position: relative;
    top: -5px;
    width: 100%;
    text-align: center;
    transform: scaleX(1);
    transition: transform 0.3s ease;
  }
  .about-underline.hovered{
    position: relative;
    top: -5px;
    width: 100%;
    text-align: center;
    transform: scaleX(1);
    transition: transform 0.3s ease;
  }
} */