#textFeature-container {
  padding: 0 5%;
  font-size: 19dvw;
  font-weight: 300;
  line-height: 0.8;
  letter-spacing: -0.05em;
  flex-wrap: wrap;
}

.css-customAnimationTextIntro {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.textFeature-text .textFeature-text__text {
  opacity: 0;
  transform: translate3d(0, -10dvh, 0);
  transition: opacity 1s ease-in-out, transform 2s ease-in-out;
}

.textFeature-text.show .textFeature-text__text {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.textFeature-text__line {
  font-size: 19dvw;
  height: fit-content;
  font-weight: 300;
  line-height: 0.8;
  letter-spacing: -0.05em;
  display: flex;
}

#textFeature-container img {
  margin-left: 20px;
  height: 10dvw;
  position: fixed;
  bottom: 50px;
  display: none;
}

@media screen and (min-width: 800px) {
  #textFeature-container {
    padding: 0 40px;
  }

  .textFeature-text {
    margin-top: 0;
  }
}
