.mobile-logo-home__container{
  display: none;
}
.mobile-logo-home__container.hide{
  display: block;
}
.mobile-logo-home__container.hide.none{
  display: block;
}

@media (max-width:800px){
  .mobile-logo-home__container{
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 999;
    opacity: 1;  
    transition: all 2s;
  }
  .mobile-logo-home__container.hide{
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 999;
    opacity: 0;
    transition: all 2s;
  }
  .mobile-logo-home__container.hide.none{
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 999;
    opacity: 0;
    transition: all 2s;
  }
}