.tag-block {
  margin-bottom: 30px;
}

.tag-block__title {
  margin-bottom: 1rem;
}

.tag-block__title__underline {
  display: flex;
  /* background-color: #000000; */
  background-color: #ffffff;
  width: 100%;
  margin-top: -5px;
}

.about-page .tag-block__title__underline {
  background-color: #000000;
}

.tag-block__title__underline {
  height: 3px;
}

.tag-block__tags {
  display: flex;
  flex-direction: column;
  /* gap: 5px 0; */
  gap: 3px 0;
}

.tag-block__tags h3 {
  text-transform: uppercase;
}

@media (min-width: 800px) {
  .tag-block {
    margin-bottom: 40px;
  }

  .tag-block__title__underline {
    display: none;
  }
}
