.tag-block {
  margin-bottom: 30px;
}

.tag-block__title {
  margin-bottom: 1rem;
}

/* .page .tag-block__title h1 {
  font-size: 22px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
} */

.tag-block__title__underline {
  display: flex;
  /* background-color: #000000; */
  background-color: #ffffff;
  width: 100%;
  margin-top: -5px;
  display: none;
}

.about-page .tag-block__title__underline {
  background-color: #000000;
  background-color: #ffffff;
  display: none;
}

.tag-block__title__underline {
  /* height: 3px; */
  height: 2px;
  height: 1px;
}

.tag-block__tags {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  /* gap: 3px 0; */
  /* gap: 4px 0; */
}

.tag-links .tag-block__tags {
  gap: 3px 0;
  gap: 8px 0;
}

.tag-block__tags h3 {
  text-transform: uppercase;
}

@media (min-width: 800px) {
  .tag-block {
    margin-bottom: 40px;
  }

  /* .page .tag-block__title h1 {
    font-size: 20px;
  } */

  .tag-block__title__underline {
    display: none;
  }
}

/* @media (min-width: 1920px) {
  .page .tag-block__title h1 {
    font-size: 20px;
  }
} */
