.footer-smaller__container{
  position: relative;
  bottom: 10px;
  width:100%;
  display: flex;
  justify-content: center;
  cursor: default;
}

.footer-smaller__holder{
  display: flex;
  justify-content: space-between;
  width: 95%;
  /* color: white; */
  font-weight: 400;
  font-size: .6rem;
}
#text {
  transition: transform 0.5s ease;
}

#text.smiley-face {
  transform: rotate(360deg);

  font-size: larger;
}