.transition-fade__about {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  /* height: 100%; */
  height: 100vh;
  width: 100%;
  background-color: #000000;
  transition: opacity 5s;
  pointer-events: none;
}

.transition-fade__about.hide {
  opacity: 0;
}

.about__container {
  position: relative;
  /* width: 100%; */
  /* min-height: 100vh; */
  /* background-color: black; */
}

.about__container a {
  color: #000000;
}

.inner-container {
  display: flex;
  flex-direction: column;
  padding: 34vw 0 100px;
  width: 100%;
}

.inner-container__left {
  padding: 0 5%;
}

.inner-container__right {
  padding: 0 5%;
  margin-top: 20px;
}

.about__description-text {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
}

.about__right-block {
  margin-bottom: 30px;
}

.about__right-block-title {
  margin-bottom: 1rem;
}

.block-title-underline {
  display: flex;
  background-color: black;
  width: 100%;
  margin-top: -5px;
}

.about__right-block-tags {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

.about__right h3 {
  text-transform: uppercase;
}

@media (min-width: 800px) {
  .inner-container {
    flex-direction: row;
    gap: 0 4%;
    padding-top: 200px;
  }

  .inner-container__left {
    padding: 0 0 0 2%;
    width: 50%;
  }

  .inner-container__right {
    padding: 0 2% 0 8%;
  }

  .about__right {
    top: 50px;
    position: sticky;
  }

  .about__right-block {
    margin-bottom: 40px;
  }

  .block-title-underline {
    display: none;
  }
}

.fadeTags {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
  -webkit-animation-name: fadeTags;
  animation-name: fadeTags;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@keyframes fadeTags {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
