.about__container{
  position: relative;
  width: 100%;
  height: 100%;
  cursor: none;

  /* cursor: url("../../assets/images/background/Color\ Cycle.gif"), auto;; */

  /* margin-bottom: -75px; */
  /* -webkit-animation:backgroundDesktop 40s cubic-bezier(.17,.67,.29,.85) infinite;
  animation: backgroundDesktop 40s cubic-bezier(.17,.67,.29,.85) infinite; */

  /* -webkit-animation:background_image 5s ease infinite;
  animation: background_image 5s ease infinite; */

  /* -webkit-transition: background-image 4s linear;
  transition: background-image 2s linear;
  -webkit-transition: background-image 2s linear;
  -moz-transition: background-image 2s linear;
  -o-transition: background-image 2s linear;
  -ms-transition:background-image 2s linear;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out; */

  /* https://stackoverflow.com/questions/23441060/how-to-animate-gradients-using-css */
  /* background: linear-gradient(130deg, #dbee48, #dbee48, #1b884b, #f95300);
    background-size: 200% 200%;
    -webkit-animation: Animation 10s ease infinite;
    -moz-animation: Animation 10s ease infinite;
    animation: Animation 10s ease infinite; */

    background-color: black;
    /* animation: color-transition 150s linear infinite; */
    animation: color-transition 300s linear infinite;
    animation-delay: 2s;
/* background-image: url("../../assets/images/background/Color\ Cycle.gif"); */
   padding-bottom:100px;
}
.transition-fade__about{
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #000000;
  transition:all 2s;
}
.transition-fade__about.hide{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #000000;
  transition:opacity 5s;
}
.custom-cursor {
  display: none;
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #000000;
  /* background-image: url("../../assets/images/background/Color Cycle.gif"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  z-index: 9999;
  /* cursor: none !important; */
  transform: translate(-50%, -50%);
}

@keyframes color-transition {
  0% {
    /* background-color: #000000; */
  }
  0%{
    background-color: #aacc12;
  }
  6% {
    background-color: #00a742;
  }
  8.33% {
    background-color: #f95300;
  }
  12.5% {
    background-color: #66ac83;
  }
  16.67% {
    background-color: #5b622c;
  }
  20.83% {
    background-color: #88b6a9;
  }
  25% {
    background-color: #e34165;
  }
  29.17% {
    background-color: #ff3312;
  }
  33.33% {
    background-color: #485db3;
  }
  37.5% {
    background-color: #e74e21;
  }
  41.67% {
    background-color: #e5f1b8;
  }
  45.83% {
    background-color: #c3a875;
  }
  50% {
    background-color: #991f22;
  }
  54.17% {
    background-color: #f67133;
  }
  58.33% {
    background-color: #f1f3e9;
  }
  62.5% {
    background-color: #f8bb00;
  }
  66.67% {
    background-color: #4766b2;
  }
  70.83% {
    background-color: #ed1e24;
  }
  75% {
    background-color: #7d9fad;
  }
  79.17% {
    background-color: #296eae;
  }
  83.33% {
    background-color: #babcbe;
  }
  87.5% {
    background-color: #ff6c2f;
  }
  91.67% {
    background-color: #f9db16;
  }
  95.83% {
    background-color: #e1e9ef;
  }
  100% {
    background-color: #aacc12;
  }
}

.inner-container{
  position: relative;
  min-height: 100vh;
  display: flex;
  padding-top: 20%;
  /* align-items: center; */
  /* cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><circle cx="12.5" cy="12.5" r="11" fill="%23ffffff"/></svg>') 10 10, auto; */
  /* animation: color-transition-cursor 50s infinite;
  animation-delay: 2s; */
}
.about__description-text{
  position: relative;
  left: 2%;
  width: 50%;
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  /* padding-top: 20%; */
}
.inner-container__right{
  width: 40%;
}
.inner-container__right h3{
  /* cursor: none; */
}
.about__right{
  padding-top: 20px;
  padding-left: 35%;
  position: sticky;
  top: 30px;
}
.about__right h1{
/* font-size: 16px;
font-weight: 600; */
}
.about__right h3{
  text-transform: uppercase;
  }
/* @keyframes color-transition-cursor {
  
  0% {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"><circle cx="25" cy="25" r="22" fill="%06acff"/></svg>') 25 25, auto;
  }
  4% {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"><circle cx="25" cy="25" r="22" fill="%296eae"/></svg>') 25 25, auto;
  }
  8% {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"><circle cx="25" cy="25" r="22" fill="%06acff"/></svg>') 25 25, auto;
  }
  12% {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"><circle cx="25" cy="25" r="22" fill="%a49fc4"/></svg>') 25 25, auto;
  }
  16% {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"><circle cx="25" cy="25" r="22" fill="%775c8a"/></svg>') 25 25, auto;
  }
  20% {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"><circle cx="25" cy="25" r="22" fill="%1cba97"/></svg>') 25 25, auto;
  }
  24% {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"><circle cx="25" cy="25" r="22" fill="%00ccdd"/></svg>') 25 25, auto;
  }
  28% {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"><circle cx="25" cy="25" r="22" fill="%bda242"/></svg>') 25 25, auto;
  }
  32% {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"><circle cx="25" cy="25" r="22" fill="%129edc"/></svg>') 25 25, auto;
  }
  100% {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"><circle cx="25" cy="25" r="22" fill="%1a0d9e"/></svg>') 25 25, auto;
  }

  
} */
.footer-about{
  position:relative;
  /* top: 100px; */
}
.banner{
  position: fixed;
  bottom: 25%;
  left: 2%;
  min-width:100px;
  max-width: 70vw;
  transform: translate3d(0px, 231.912px, 0px); width: 52.8633%;
}
/* @-webkit-keyframes background_image {
  0% { background-image: linear-gradient(120deg, #dbee48 0%, #1b884b 100%); }
  5% { background-image: linear-gradient(100deg, #dbee48 0%, #1b884b 90%); }
  10% { background-image: linear-gradient(90deg, #dbee48 0%, #1b884b 80%); }
  15% { background-image: linear-gradient(80deg, #dbee48 0%, #1b884b 70%); }
  20% {background-image: linear-gradient(70deg, #dbee48 0%, #1b884b 60%);  }
  25% {background-image: linear-gradient(70deg, #dbee48 0%, #1b884b 50%);  }
  30% {background-image: linear-gradient(70deg, #dbee48 0%, #1b884b 40%);  }
  35% {background-image: linear-gradient(70deg, #dbee48 0%, #1b884b 30%);  }
  40% {background-image: linear-gradient(70deg, #dbee48 0%, #1b884b 20%);  }
  45% {background-image: linear-gradient(70deg, #dbee48 0%, #1b884b 10%);  }
  50% {background-image: linear-gradient(70deg, #dbee48 0%, #1b884b 0%);  }
  55% { background-image: linear-gradient(120deg, #1b884b 0%, #1b884b 100%); }
  60% { background-image: linear-gradient(90deg, #1b884b 0%, #f95300 90%); }
  65% { background-image: linear-gradient(80deg, #1b884b 0%, #f95300 80%); }
  70% {background-image: linear-gradient(70deg, #1b884b 0%, #f95300 70%);  }
  75% {background-image: linear-gradient(70deg, #1b884b 0%, #f95300 60%);  }
  80% {background-image: linear-gradient(70deg, #1b884b 0%, #f95300 50%);  }
  85% {background-image: linear-gradient(70deg, #1b884b 0%, #f95300 40%);  }
  90% {background-image: linear-gradient(70deg, #1b884b 0%, #f95300 30%);  }
  95% {background-image: linear-gradient(70deg, #1b884b 0%, #f95300 20%);  }
  97% {background-image: linear-gradient(70deg, #1b884b 0%, #f95300 10%);  }
  100% {background-image: linear-gradient(70deg, #1b884b 0%, #f95300 0%);  }
}

@keyframes background_image {
  0% { background-image: linear-gradient(120deg, #dbee48 0%, #1b884b 100%); }
  5% { background-image: linear-gradient(100deg, #dbee48 0%, #1b884b 90%); }
  10% { background-image: linear-gradient(90deg, #dbee48 0%, #1b884b 80%); }
  15% { background-image: linear-gradient(80deg, #dbee48 0%, #1b884b 70%); }
  20% {background-image: linear-gradient(70deg, #dbee48 0%, #1b884b 60%);  }
  25% {background-image: linear-gradient(70deg, #dbee48 0%, #1b884b 50%);  }
  30% {background-image: linear-gradient(70deg, #dbee48 0%, #1b884b 40%);  }
  35% {background-image: linear-gradient(70deg, #dbee48 0%, #1b884b 30%);  }
  40% {background-image: linear-gradient(70deg, #dbee48 0%, #1b884b 20%);  }
  45% {background-image: linear-gradient(70deg, #dbee48 0%, #1b884b 10%);  }
  50% {background-image: linear-gradient(70deg, #dbee48 0%, #1b884b 0%);  }
  55% { background-image: linear-gradient(120deg, #1b884b 0%, #1b884b 100%); }
  60% { background-image: linear-gradient(90deg, #1b884b 0%, #f95300 90%); }
  65% { background-image: linear-gradient(80deg, #1b884b 0%, #f95300 80%); }
  70% {background-image: linear-gradient(70deg, #1b884b 0%, #f95300 70%);  }
  75% {background-image: linear-gradient(70deg, #1b884b 0%, #f95300 60%);  }
  80% {background-image: linear-gradient(70deg, #1b884b 0%, #f95300 50%);  }
  85% {background-image: linear-gradient(70deg, #1b884b 0%, #f95300 40%);  }
  90% {background-image: linear-gradient(70deg, #1b884b 0%, #f95300 30%);  }
  95% {background-image: linear-gradient(70deg, #1b884b 0%, #f95300 20%);  }
  97% {background-image: linear-gradient(70deg, #1b884b 0%, #f95300 10%);  }
  100% {background-image: linear-gradient(70deg, #1b884b 0%, #f95300 0%);  }
}
@-webkit-keyframes background {
  0% { background-color: #dbee48; }
  30% { background-color: #dbee48; }
  50% { background-color: #1b884b; } 
  70% { background-color: #35524c; }
  80% { background-color: #f95300; }
  100% { background-color: #dbee48; }
}

@keyframes background {
  0% { background-color: #dbee48; }
  30% { background-color: #dbee48; }
  50% { background-color: #1b884b; } 
  70% { background-color: #35524c; }
  80% { background-color: #f95300; }
  100% { background-color: #dbee48; }
} */
@-webkit-keyframes backgroundDesktop {
  0% { background-color: #dbee48; }
  30% { background-color: #dbee48; }
  50% { background-color: #1b884b; } 
  70% { background-color: #35524c; }
  80% { background-color: #f95300; }
  100% { background-color: #dbee48; }
}

@keyframes backgroundDesktop {
  0% { background-color: #dbee48; }
  30% { background-color: #dbee48; }
  50% { background-color: #1b884b; } 
  70% { background-color: #35524c; }
  80% { background-color: #f95300; }
  100% { background-color: #dbee48; }
}

/* .hr-container{
  width: 90%;
  position: relative;
  top: -20px;
  left: 3%;
  display: none;
} */
.about__hr-holder{
  position: relative;
  top: 250px;
  padding-left: 2%;
  width: 0%;
}

.about__hr-holder.grow{
  position: relative;
  top: 250px;
  padding-left: 2%;
  width: 75%;
  transition: width 1.5s linear;
}

.transparent-title{
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  transition-property: color;
  transition: all .25s ease-in-out;
  font-size: 4.5rem;
  font-weight: 700;
  position: relative;
  left: 1%;
  top: 10vh;
  width: 90%;
}
.face-logo-holder{
  position: relative;
  height: 50px;
  left: 50%;
}

.nothing{
  display: inline-block;
}
.lets-make-something{
  display: inline-block;
   position: relative;
   /* cursor: pointer; */
}
.lets-make-something::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: black;
  animation: animate-underline 1s ease-in-out forwards;
  /* cursor: pointer; */
}
@keyframes animate-underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.lets-make-something:hover::after {
  animation: animate-underline-out-left-in-right 1s ease-in-out forwards;
}

@keyframes animate-underline-out-left-in-right {
  0% {
    width: 100%;
  }
  25% {
    width: 0;
    left: 0;
  }
  50% {
    left: 100%;
    width: 0;
  }
  75% {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  100% {
    width: 100%;
  }
  
}
.about-text-three{
opacity: 0;
transform:translateY(20px);
transition: all 2s;
}
.about-text-three.show{
  opacity: 1;
  transform:translateY(0);
  transition: all 2s;
}

.hello-underline{
  position: relative;
  top: -3.5px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.hello-underline.hovered{
  position: relative;
  top: -3.5px;
  width: 100%;
  border: 20px;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.hello-underline.hovered.mouse-leave{
  position: relative;
  top: -3.5px;
  width: 100%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.join-underline{
  position: relative;
  top: -3.5px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.join-underline.hovered{
  position: relative;
  top: -3.5px;
  width: 100%;
  border: 20px;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.join-underline.hovered.mouse-leave{
  position: relative;
  top: -3.5px;
  width: 100%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.about-phone-underline{
  position: relative;
  top: -7px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.about-phone-underline.hovered{
  position: relative;
  top: -3.5px;
  width: 100%;
  border: 20px;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.about-phone-underline.hovered.mouse-leave{
  position: relative;
  top: -3.5px;
  width: 100%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.about-instagram-underline{
  position: relative;
  top: -3.5px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.about-instagram-underline.hovered{
  position: relative;
  top: -3.5px;
  width: 100%;
  border: 20px;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.about-instagram-underline.hovered.mouse-leave{
  position: relative;
  top: -3.5px;
  width: 100%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.about-unofficials-underline{
  position: relative;
  top: -3.5px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.about-unofficials-underline.hovered{
  position: relative;
  top: -7px;
  width: 100%;
  border: 20px;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.about-unofficials-underline.hovered.mouse-leave{
  position: relative;
  top: -7px;
  width: 100%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.capabilities-section{
  position: relative;
  margin-top: 250px;
  /* font-weight: 100; */
  display: flex;
}
.capabilities__section-one{
/* font-size: 1.5rem; */
width: 130px;
position: relative;
left: 2%;
}
.always-detail{
  position: relative;
  left: 20px;
}
.capabilities__section-two{
width: 60%;
/* background-color: #f95300; */
margin-left: 2%;
bottom: 5px;
}
.capabilities__section-three{
width: 40%;
position: relative;
top: 5px;
}


.capabilities-list {
  padding-bottom: 200px;
}
.capabilities-list h3{
  text-transform: uppercase;
  /* position: relative; */
  line-height: .7;
  

  /* color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  transition-property: color;
  transition: all .25s ease-in-out;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  left: 1%;
  width: 98%; */

}

.space-a-little{
  position: relative;
  /* left: 20px; */
}


a{
  text-decoration: underline;
  color: black;
}
/* .only-desktop{
  display: flex;
} */
.underline-mobile-only{
  display: none;
}
@media (min-width: 2000px){
  
 
}


@media (max-width: 830px){
  .underline-mobile-only{
    display: flex;
    background-color: black;
    width: 100%;
    /* height: .5px; */
    margin-top: -10px;
  }
  .inner-container__right{
    width: 100%;
  }
  .about__hr-holder.grow{
    position: relative;
    top: 100px;
    padding-left: 6%;
    width: 75%;
    transition: width 1.5s linear;
  }
  .banner{
    display: none;
  }
  .inner-container{
    position: relative;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .about__right{
    width: 80%;
    padding-left: 6%;
  }
  .transparent-title{
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    transition-property: color;
    transition: all .25s ease-in-out;
    font-size: 4.5rem;
    font-weight: 700;
    position: relative;
    left: 2.5%;
    top: 4vh;
    width: 97%;
  }
  .about__description-text{
    position: relative;
    left: 0%;
    padding-left: 5%;
    padding-top: 0px;
    margin-top: 50px;
    width: 90%;
    /* font-size: 1.9rem; */
  }

  .capabilities-section{
    position: relative;
    margin-top: 50px;
    /* font-weight: 100; */
    display: flex;
    flex-direction: column;
    width: 70%;
    left: 4%;
  }
  .always-detail{
    position: relative;
    left: 0px;
  }
  .capabilities__section-two{
    width: 100%;
    position: relative;
    margin-bottom: 0px;
    }
    .capabilities-list{
      width: 100%;
      line-height: 1;
      padding-left: 4%;
    }
    .capabilities__section-three{
    width: 100%;
    }
    
    
}

@media (max-height: 650px){
  .inner-container{
    position: relative;
    padding-top: 50px;
  }
  /* .about__description-text{
    width: 75%;
    margin-top: 0vh;
  } */
  
  .transparent-title{
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    transition-property: color;
    transition: all .25s ease-in-out;
    font-size: 4.5rem;
    font-weight: 700;
    position: relative;
    left: 1%;
    top: 10vh;
  }
}

@media (max-width: 650px){
  .lets-make-something::after{
    display: none;
  }
  .contact-section hr{
    display: none
  }
  .contact-section {
    flex-direction: column;
  }
  .inner-container{
    position: relative;
    padding-top: 0px;
    /* padding-bottom: -50px; */
  }
  .transparent-title{
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    transition-property: color;
    transition: all .25s ease-in-out;
    font-size: 3rem;
    font-weight: 700;
    position: relative;
    left: 2.5%;
    top: 2vh;
    width: 97%;
  }
  .capabilities-list h3{
    font-size: 1rem;
  }
}

@media (max-width: 420px){
  .contact-section hr{
    display: none
  }
  .contact-section {
    flex-direction: column;
  }
  .inner-container{
    position: relative;
    padding-top: 100px;
    padding-bottom: 0px;
    min-height:50vh
  }
  .transparent-title{
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    transition-property: color;
    transition: all .25s ease-in-out;
    font-size: 3rem;
    font-weight: 700;
    position: relative;
    left: 2.5%;
    top: 2vh;
    width: 97%;
  }
  .capabilities-list h3{
    font-size: .8rem;
  }
  .capabilities-list{
    padding-bottom: 250px;
  }
}