a {
  /* cursor: pointer; */
}

.drippy_nav {
  height: 25px;
}
.melt_nav {
  color: white;
}

/* .drippy__nav {
  height: 25px;
  transition: all 0.5s;
}
.drippy__nav:hover {
  height: 30px;
  transition: all 0.5s;
} */

.nav-item__holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 200px;
  padding-left: 2%;
  padding-right: 2%;
  background-color: transparent;
  margin-top: 25px;
  font-weight: 500;
  font-size: 0.8rem;
  width: 96%;
}
.nav_logo__holder {
  /* background-color: red; */
  float: left;
  font-size: 0.8rem;
}
.right-side__nav-with-footer {
  display: flex;
  /* width: 9%; */
  justify-content: space-between;
  align-items: center;
}
.nav-with-footer__Footer {
  position: fixed;
  top: 117vh;
  width: 100%;
  display: flex;
  justify-content: center;
  /* cursor: pointer; */
}
.nav-with-footer__Footer-container {
  display: flex;
  justify-content: space-between;
  width: 96%;
  font-weight: 400;
  font-size: 0.5rem;
}
/* .nav__with__footer__hover-effect-black{
  font-weight: 400;
  font-size: .7rem;
  color: black;
} */
.melt-underline {
  position: relative;
  top: -7px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.melt-underline.hovered {
  position: relative;
  top: -10px;
  width: 100%;
  border: 20px;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.melt-underline.hovered.mouse-leave {
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.follow-underline {
  position: relative;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.follow-underline.hovered {
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.follow-underline.hovered.mouse-leave {
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.about-underline {
  position: relative;
  top: -7px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.about-underline.hovered {
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.about-underline.hovered.mouse-leave {
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.contact-holder__clickable-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 4px;
}
.contact-underline {
  position: relative;
  top: -7px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.contact-underline.hovered {
  position: relative;
  top: -17px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.contact-underline.hovered.mouse-leave {
  position: relative;
  top: -17px;
  width: 100%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.contact-dropdown {
  display: none;
  height: 0;
  opacity: 0;
  color: white;
  position: absolute;
  top: 30px;
}
.contact-dropdown.visible {
  display: inline;
  height: 100%;
  min-height: 100px;
  opacity: 1;
  transition: all 0.3s;
  color: white;
  position: absolute;
  top: 30px;
  /* cursor: pointer; */
}
.email-underline {
  position: relative;
  top: -7px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  margin-bottom: -10px;
}
.email-underline.hovered {
  position: relative;
  top: -10px;
  width: 80%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
  margin-bottom: -10px;
}
.email-underline.hovered.mouse-leave {
  position: relative;
  top: -10px;
  width: 80%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  margin-bottom: -10px;
}
.careers-underline {
  position: relative;
  top: -7px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  margin-bottom: -10px;
}
.careers-underline.hovered {
  position: relative;
  top: -10px;
  width: 70%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
  margin-bottom: -10px;
}
.careers-underline.hovered.mouse-leave {
  position: relative;
  top: -10px;
  width: 70%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  margin-bottom: -10px;
}
.phone-underline {
  position: relative;
  top: -7px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  /* margin-bottom: -10px; */
}
.phone-underline.hovered {
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
  /* margin-bottom: -10px; */
}
.phone-underline.hovered.mouse-leave {
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  /* margin-bottom: -10px; */
}
.always-underlined {
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

@media (max-height: 800px), screen and (max-width: 800px) {
  /* .nav-item__holder{
    margin-top: 20px;
    font-weight: 300;
    font-size: .6rem;
    background-color: transparent;
  } */
}

/* a {
} */

.nav {
  display: flex;
}

.drippy__nav {
  height: 25px;
  transform: scale(100%, 100%);
  transition: transform 0.5s ease;
}
.drippy__nav:hover {
  transform: scale(120%, 120%);
  transition: transform 0.5s ease;
  cursor: pointer;
}

/* .black-dot {
  background-image: url('../../../assets/images/background/Color\ Cycle.gif');
  background-size: cover;
  width: 32px;
  height: 32px;
} */
/* .nav-item__holder{
  margin-top: 25px;
  font-weight: 300;
  font-size: .8rem;
  background-color: transparent;
} */
.nav_logo__holder {
  /* background-color: red; */
  float: left;
}
/* .right-side__nav-with-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
/* .nav-with-footer__Footer {
  position: fixed;
  top: 117vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav-with-footer__Footer-container {
  display: flex;
  justify-content: space-between;
  width: 96%;
  font-weight: 600;
  font-size: 0.5rem;
} */
/* .nav__with__footer__hover-effect-black{
  font-weight: 500;
  font-size: .7rem;
  color: black;
} */

/* .melt-underline {
  position: relative;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.melt-underline.hovered {
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.melt-underline.hovered.mouse-leave {
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.follow-underline {
  position: relative;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.follow-underline.hovered {
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.follow-underline.hovered.mouse-leave {
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.about-underline {
  position: relative;
  top: -7px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.about-underline.hovered {
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.about-underline.hovered.mouse-leave {
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.contact-holder__clickable-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 4px;
}
.contact-underline {
  position: relative;
  top: -7px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.contact-underline.hovered {
  position: relative;
  top: -17px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.contact-underline.hovered.mouse-leave {
  position: relative;
  top: -17px;
  width: 100%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.contact-dropdown {
  display: none;
  height: 0;
  opacity: 0;
  color: white;
  position: absolute;
  top: 30px;
}
.contact-dropdown.visible {
  display: inline;
  height: 100%;
  min-height: 100px;
  opacity: 1;
  transition: all 0.3s;
  color: white;
  position: absolute;
  top: 30px;
}
.email-underline {
  position: relative;
  top: -7px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  margin-bottom: -10px;
}
.email-underline.hovered {
  position: relative;
  top: -10px;
  width: 80%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
  margin-bottom: -10px;
}
.email-underline.hovered.mouse-leave {
  position: relative;
  top: -10px;
  width: 80%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  margin-bottom: -10px;
}
.careers-underline {
  position: relative;
  top: -7px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  margin-bottom: -10px;
}
.careers-underline.hovered {
  position: relative;
  top: -10px;
  width: 70%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
  margin-bottom: -10px;
}
.careers-underline.hovered.mouse-leave {
  position: relative;
  top: -10px;
  width: 70%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  margin-bottom: -10px;
}
.phone-underline {
  position: relative;
  top: -7px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.phone-underline.hovered {
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.phone-underline.hovered.mouse-leave {
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.always-underlined {
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
} */

@media (max-height: 800px), screen and (max-width: 800px) {
  /* .nav-item__holder{
    margin-top: 20px;
    font-weight: 300;
    font-size: .6rem;
    background-color: transparent;
  } */
}
