.carousel{
max-width: 900px;
}
.carousel-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}
.carousel-image{
  max-height: 600px;
  width: auto;
  padding-bottom: 50px;
}
.carousel .control-dots {
  /* top: 100px; */
}

.carousel.carousel-slider .control-arrow:hover  {
/* background: red; */
opacity: 0;
color: white;
;

}
@media (max-width: 800px){
  .carousel-image{
    max-height: 300px;
    width: 100%;
  }
}