.mobile-logo-animation-start__container{
  height: 100vh;
  margin-bottom: -40vh;
  /* background-color: red; */
}
.drippy-logo__mobile-intro__container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drippy-logo__mobile-intro{
  height: 150px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 2s;
}
.drippy-logo__mobile-intro-fade-in{
  height: 150px;
  opacity: 1;
  transform: translateY(0px);
  transition: all 2s;
}
.drippy-logo__mobile-intro-fade-out{
  height: 130px;
  opacity: 0;
  transform: translateY(0px);
  transition: all 2s;
}
.drippy-logo__mobile-intro-gone{
  display: none;
}
.mobile__info{
  display: none;
}

@media (max-width: 800px){
  .mobile__info{
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    
    text-transform: uppercase;
    font-weight: 900;
    line-height: 0px;
    font-size: 3.5rem;
    letter-spacing: -4px;
    word-spacing: 3px;
    /* background-color: red; */
  }
.fade-in-intro-text__one{
  opacity: 0;
  transform: translateY(10px);
}
.fade-in-intro-text__two{
  opacity: 0;
  transform: translateY(10px);
}
.fade-in-intro-text__three{
  opacity: 0;
  transform: translateY(10px);
}
.fade-in-intro-text__four{
  opacity: 0;
  transform: translateY(10px);
}
.fade-in-intro-text__five{
  opacity: 0;
  transform: translateY(10px);
}
.fade-in-intro-text__six{
  opacity: 0;
  transform: translateY(10px);
}
.fade-in-intro-text__seven{
  opacity: 0;
  transform: translateY(10px);
}
  .fade-in-intro-text__eight{
    opacity: 0;
    transform: translateY(10px);
  }
/* Set To Visible */
.fade-in-intro-text__one_visible{
  opacity: 1;
  transform: translateY(0px);
  transition: all 2s;
}
.fade-in-intro-text__two_visible{
  opacity: 1;
  transform: translateY(0px);
  /* transition-delay: 1s; */
  transition: all 2s;
}
.fade-in-intro-text__three_visible{
  opacity: 1;
  transform: translateY(0px);
  /* transition-delay: 1.3s; */
  transition: all 2s;
}
.fade-in-intro-text__four_visible{
  opacity: 1;
  transform: translateY(0px);
  /* transition-delay: 1.5s; */
  transition: all 2s;
}
.fade-in-intro-text__five_visible{
  opacity: 1;
  transform: translateY(0px);
  /* transition-delay: 1.7s; */
  transition: all 2s;
}
.fade-in-intro-text__six_visible{
  opacity: 1;
  transform: translateY(0px);
  /* transition-delay: 1.9s; */
  transition: all 2s;
}
.fade-in-intro-text__seven_visible{
  opacity: 1;
  transform: translateY(0px);
  /* transition-delay: 2s; */
  transition: all 2s;
}
.fade-in-intro-text__eight_visible{
  opacity: 1;
  transform: translateY(0px);
  /* transition-delay: 2.1s; */
  transition: all 2s;
}
}
