.footer {
  display: flex;
  padding: 50px 5% 30px;
  justify-content: space-between;
  color: #ffffff;
  /* margin-top: 50px; */
}

.about-page .footer {
  color: #000000;
}

.footer .tag h3 {
  font-size: 0.7rem;
}

@media (min-width: 800px) {
  .footer {
    padding: 50px 2% 30px;
  }
}
