.footer {
  /* margin-top: 50px; */
}

.footer.show {
}

.footer__tags {
  display: flex;
  padding: 50px 5% 30px;
  justify-content: space-between;
  color: #ffffff;
  opacity: 0;
  transform: translate(0, -15px);
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.footer.show .footer__tags {
  opacity: 1;
  transform: translate(0, 0);
}

.about-page .footer__tags {
  color: #000000;
}

.footer .tag h3 {
  font-size: 0.7rem;
}

@media (min-width: 800px) {
  .footer__tags {
    padding: 50px 2% 30px;
  }
}
