.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-transform: translate3d(0, 0, 0);
}

.projects.loading {
  min-height: 5000px;
}

.project {
  margin-bottom: 80px;
}

.project__cover-img {
  position: relative;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 1s ease-in-out, transform 1s ease;
}

.show .project__cover-img {
  opacity: 1;
  transform: scale(1);
}

.projects__container {
  /* color: white; */
  display: flex;
  flex-direction: column;
  -webkit-transform: translate3d(0, 0, 0);
}
.animate__animated.animate__fadeInUp {
  --animate-duration: 5s;
}

@media (min-width: 800px) {
  .projects {
    align-items: normal;
  }

  .project__cover-img {
    /* position: absolute; */
  }

  .project__cover-img:hover {
    /* transform: scale(1.025); */
  }
}

@media (max-width: 800px) {
  .project-cover-img {
    width: 85vw;
  }
  .mobile-projects {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
}
