.embed-container {
  width: 100vw;
}

video{
  width: 100%;
}
.class-change{
  position:fixed;
  bottom:0px;
  left:30%; 
    z-index: 999;
    height: 100vh;
    transition: all 1s;
}
.title-ref-top{
  display: none;
}
.title-ref-top.visible{
  display: block;
}
.fade-in-up-element__proj {
  height: 100vh;
  opacity: 0;
  transform: translateY(45px);
  transition: opacity 1.5s ease-in-out, transform 1s ease-in-out;
}

.fade-in-up-element__proj.visible {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 1.5s ease-in-out, transform 1s ease-in-out;
}
.fade-in-up-element__proj.visible.out-up {
  /* display: none; */
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1.5s ease-in-out, transform 1s ease-in-out;
}
.cover-image__holder{
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}
.fade-in-up-element-background__proj{
  opacity: 0;
  transition: all 1s
}
.fade-in-up-element-background__proj.show{
  opacity: 1;
  transition: all 1s
}
.project__background{
min-height: 100vh;
width: 100%;
position: relative;
}
.mobile-margin-top-tall-img{
  /* height: 30%; */
}
.footer__project{
  position: relative;;
}
.project__cover-photo-holder{
  width: 100%;
  display: flex;
  justify-content: center;
}

.project__cover-photo{
  height: 100vh;
}
.project__cover-photo-wide-holder{
  height: 100vh;
  max-width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.wide-holder.hide{
  position: relative;
  bottom: 100px;
  margin-bottom: -100px;
  /* z-index: 997; */
  padding-left: 2.01%;
  padding-bottom: 5vh;
  transform: translateY(50pc);
  opacity: 0;
  transition: all 1s ease-in-out, transform 1s ease-in-out;
}
.wide-holder{
  position: relative;
  bottom: 100px;
  margin-bottom: -100px;
  padding-left: 2.01%;
  padding-bottom: 5vh;
  transform: translateY(0);
  opacity: 1;
  transition: all 1s ease-in-out, transform 1s ease-in-out;
}

.description-wide{
/* padding-left: 2.5%; */
margin-top: -13px;
text-transform: uppercase;
}
.project__cover-photo-wide{
width: 100%;
}

.project__content-holder{
  margin-bottom: 200px;
  padding-left: 2.07%;
  position: relative;
  bottom: 150px;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.project__content-holder.hide{
opacity: 0;
transform: translateY(-50px);
transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}


.title-container{
  z-index: 996;
  position: relative;
  bottom: 90px;
  padding-left: 2%;
  /* background-color: aqua; */
  
}

.project-title{
  opacity: 0;
  top: 8px;
  position: relative;
  transform: translateY(20px);
  transition: all 1s ease-in-out, transform 1s ease-in-out;
}
.proj-description{
  opacity: 0;
  text-transform: uppercase;
  position: relative;
  bottom: 3px;
  transform: translateY(10px);
  transition: all 1s ease-in-out, transform 1s ease-in-out;
}
.project-title.show{
  position: relative;
  opacity: 1;
  transform: translateY(0);
 top: -16px;
}
.proj-description.show{
  opacity: 1;
  text-transform: uppercase;
  position: relative;
  bottom: 20px;
  transform: translateY(0);
}


.project-title-wide{
  opacity: 0;
  transform: translateY(50px);
/* transform: translateY(50px); */
/* position: relative;
top: 80%;
width: 100%;
margin-bottom: 250px;
min-height: 60px;
transition: all 1s ease-in-out, transform 1s ease-in-out; */
}
.project-title-wide.show{
  transform: translateY(0);
  opacity: 1;
  position: relative;
  top: 10px;
  /* position: relative;
  top: 8%;
  width: 100%;
  margin-bottom: 250px; */
  /* min-height: 60px; */
  transition: all 1s ease-in-out, transform 1s ease-in-out;
}

.project__about-sections{
  margin-top: 20vh;
  display: flex;
  /* justify-content: space-between; */
  /* height: 100vh; */
  /* background-color: red; */
}

.project-about__section-one{
  /* text-transform: uppercase; */
  /* line-height: 35px;     */
  font-weight: 900;
  /* letter-spacing: -2px; */
  width:50%;
}
.project-about__section-two{
  width:20%;
  position: relative;
  top: 45px;
}
.project-about__hr-line__holder{
  width: 0%;
  margin-top: 100px;
  position: relative;
  top: 50px;
}
.project-about__hr-line__holder.grow{
  width: 83%;
  margin-top: 100px;
  position: relative;
  top: 10px;
  transition: width 1.5s linear;
}
.hr-line{
  height: 1px;
  opacity: 1;
}
.only-on-mobile{
  display: none;
}
.project-about__section-three{
  width:40%;
  margin-top: 65px;
  position: relative;
  /* left: 20%; */
}
.back-to-work-text{
  cursor: pointer;
}


.project-collaborators{
  text-transform: uppercase;
  /* margin-top: -8px; */
  padding-left: 35%;
}
.art-direction-section{
  /* margin-bottom: 50px;
  font-size: 1.2rem; */
}
.project__text-holder{
}
.project-image__holder{
  /* width: 95.7%; */
}
.mobile-project-image__holder{
  width: 100%;
}
.project__images{
  max-width: 100%;
  /* max-height: 90.7vh; */
  position:sticky;
  margin-top: 5vh;
  margin-bottom:5vh;
  
}
.project__images.is-vis{
  
  max-width: 100%;
  /* max-height: 90.7vh; */
  position:sticky;
  margin-top: 5vh;
  margin-bottom:10vh;
  
}
.images-holder{
  opacity: 0;  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -15vh;
  transform: translateY(0px);
}
.images-holder.is-vis{
  opacity: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: -20vh;
  transform: translateY(0px);
  transition: all 1s ease-in-out;
  /* background-color: black; */
}
.images-holder.is-vis.not{
  opacity: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0;
  transform: translateY(0px);
  transition: all 1s ease-in-out;
}
.back-to-work-holder{
  width: 80%;
  text-align: -webkit-right;
}
.project-about__section-two-mobile{
  display: none;
}
.credit-section{
  /* font-size: 1.5rem; */
  margin-top: 50px;
}
.main-image-mobile-spacer{
  display: none;
}
.project-about__section-one__mobile{
  display: none;
}
.project-about__section-three__mobile{
  display: none;
}
.space-wid-after-collab{
  margin-bottom: 100px;
}
.proj-img-ref-div{
  position: relative;
  top: 35vh;
  height: 50px;
  width: 50px;
  /* background-color: red; */
}
.footer-transition__hider{
  display: none;
}
.footer-transition__hider.show{
  display: block;
}
.proj-trantition__mobile{
  display: none;
}
.back-button__container-holder{
  cursor: default;
}
.back-button__holder{
  /* opacity: 0;
  z-index: 999;
  transition: all 1s;
  width: 80%; */
  opacity: 1;
  z-index: 999;
  transition: all 1s;
  cursor: auto;
  display: flex;
  width: 98%;
  place-content: flex-end;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
  height: 25px;
  /* background-color: blue; */
}
.back-button_holder{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  height: 20%;
}

.back-button__container{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 100px;
}

.back-button{
  width: 50px;
  height: 30px;
  cursor: pointer;
  position: relative;
  bottom: 3px;
}
.close-proj__text{
  font-size: .8rem;
  font-weight: 400;
}
.close-project-underline{
  position: relative;
  top: -18px;
  width: 0%;
  size: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.close-project-underline.hovered{
  position: relative;
  top: -18px;
  width: 100%;
  border: 20px;
  text-align: center;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.close-project-underline.hovered.mouse-leave{
  position: relative;
  top: -18px;
  width: 100%;
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.project_scope{
  padding-left:35%
}
.project__tags{
  line-height: .5;
  text-transform: uppercase;
  padding-left: 19.3%;
}

@media (min-height:1000px){
  .proj-img-ref-div{
    position: relative;
    top: 32vh;
    height: 50px;
    width: 50px;
    /* background-color: red; */
  }
}

@media (max-height: 800px), screen and (max-width: 800px){
  .proj-trantition__mobile{
    display: block;
    height:100vh
  }
  .proj-trantition__mobile.hide{
    display: none;
    height:100vh
  }
  .proj-img-ref-div{
    position: relative;
    top: 35vh;
    height: 50px;
    width: 50px;
    /* background-color: red; */
  }
  .project__content-holder{
    margin-top: -45px;
  }
  .project-about__hr-line__holder.grow{
    width: 83%;
    margin-top: 100px;
    position: relative;
    top: 60px;
    transition: width 1.5s linear;
  }
  /* .project__about-sections {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
} */
.title-container {
    z-index: 996;
    position: relative;
    bottom: 84px;
    padding-left: 2%;
    /* background-color: aqua; */
}
}


@media(min-width:3000px){
 .transition-title{
  color: transparent;
    -webkit-text-stroke-width: 1.5px;
    transition: all .25s ease-in-out;
    font-size: 10rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -5px;
    line-height: 135px;
    padding-left: 9%;
    padding-right: 9%;
}
.transition-description{
  font-size: .9rem;
  position: relative;
  bottom: 200px;
  font-weight: 500;
  z-index: 999;
}
}



@media(max-width:2500px){
  .project-image__holder{
    /* width: 97%; */
    /* padding-left:1.5%;
    padding-right:1.5%; */
  }
}

@media (max-width: 800px){
  .fade-in-up-element-background__proj.show{
    opacity: 1;
    transition: all 1s;
    height:100vh;
  }
  .back-button{
    width: 25px;
    cursor: pointer;
  }
  .mobile-margin-top-tall-img{
    position: relative;
  width: 94%;
  }
  .images-holder{
    margin-top: -30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20vh;
  }
  .images-holder.is-vis{
    opacity: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -35vh;
    transform: translateY(0px);
    transition: all 1s ease-in-out;
  }
  .space-wid-after-collab{
    margin-bottom: -100px;
  }
  .project-about__section-three{
    display: none;
  }
  .project-about__section-three__mobile{
    display: none;
    /* opacity: 0; */
    width: 100%;
    margin-top: 15px;
    transition: all 1s ease-in-out;
  }
  .project-about__section-three__mobile.show{
    display: block;
    opacity: 1;
    width: 100%;
    margin-top: 15px;
    transition: all 1s ease-in-out;
  }
  .main-image-mobile-spacer{
    display: block;
    margin-bottom: 45vh;
  }
  .fade-in-up-element__proj {
  background-color: black;
  margin-top: 20vh;
  width: 90%;
  height: auto;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-in-out, transform 1s ease-in-out;
}
.fade-in-up-element__proj.visible {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 1.5s ease-in-out, transform 1s ease-in-out;
  height:70%;
}
.fade-in-up-element__proj.visible.out-up {
  /* display: none; */
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1.5s ease-in-out, transform 1s ease-in-out;
}
.project-about__hr-line__holder{
  display: none;
}
.project__cover-photo-wide-holder{
  height: 37vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 13vh;
}
.wide-holder{
  position: relative;
  bottom: 100px;
  margin-bottom: -150px;
  padding-left: 5.01%;
  padding-bottom: 5vh;
  transform: translateY(0);
  opacity: 1;
  transition: all 1s ease-in-out, transform 1s ease-in-out;
}
  
  .title-container{
  top: 35px;
  padding-left: 20px;
}
.project-title{
  opacity: 0;
  top: 15px;
  position: relative;
  transform: translateY(0px);
}
.proj-description{
  opacity: 1;
  text-transform: uppercase;
  position: relative;
  bottom: 20px;
  transform: translateY(0px);
}
.proj-description.show{
  opacity: 1;
  text-transform: uppercase;
  position: relative;
  bottom: 20px;
  transform: translateY(0);
}
.project-title-wide{
  /* font-size: 2rem; */
  /* font-weight: 700; */
  position: relative;
  top: 150px;
  padding-left: 5%;
  width: 100%;
  margin-bottom: 250px;
}
.project-description-wide{
  /* font-size: 1rem; */
  /* font-weight: 700; */
  position: relative;
  top: 35px;
  padding-left: 5%;
  width: 100%;
  text-transform: uppercase;
  /* margin-bottom: 230px; */
}
  .project__content-holder{
    bottom: 20px;
    margin-top: 50px;
    margin-left: 0%;
    padding: 5% 10% 5% 5%;
  }

  .project__content-holder.hide{
    bottom: 20px;
    margin-top: 50px;
    margin-left: 0%;
    padding: 5% 8% 5% 5%;
  }
  
  
.project__cover-photo-holder{
  text-align: -webkit-center;
}
  .project__cover-photo{
    margin-top: 10%;
    width: 90vw;
    height: auto;
  }
  .project__tags{
    line-height: .5;
    /* font-size: 1rem; */
    padding-left: 0%;
    text-transform: uppercase;
  }
  .project-collaborators{
    line-height: .5;
    margin-top: 0px;
    padding-left: 0%;
    /* font-size: 1rem; */
    text-transform: uppercase;
  }
  .back-to-work-holder{
    margin-bottom: 50px;
  }
  .project__images{
    width: 100%;
    margin-bottom:0px;
    position:relative;
  }
  
    .art-direction-section{
      /* font-size: 1rem; */
    }
    .project__about-sections{
      margin-top: 0;
      flex-direction: column;
      justify-content: center;
    }
    .project-about__section-one{
      /* margin-top: 90vh; */
      /* width: 100%; */
      display: none;
      /* font-size: 1.8rem; */
    }
    .project-about__section-one__mobile{
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      /* transform: scaleY(-150px); */
      transition: all 1s ease-in-out;
    }
    .project-about__section-one__mobile.show{
      /* margin-top: 90vh; */
      width: 100%;
      height: 100%;
      opacity: 1;
      /* transform: scaleY(0px); */
      transition: all 1s ease-in-out;
      /* font-size: 1.8rem; */
    }
    .project-about__section-two{
      display: none;
    }
   
    .project-about__section-two-mobile{
      display: block;
      width: 100%;
      position: relative;
      bottom: 10px;
      transition: width .5s linear;
    }
    .project-about__section-two-mobile.grow{
      display: block;
      width: 100%;
      position: relative;
      bottom: 10px;
      transition: width 1.5s linear;
    }
    .hr-line{
      width: 100%;
    }
    .only-on-mobile{
  display: block;
  position: relative;
  top: 42px;
  width: 0%;
  transition: width .5s linear;
}
.only-on-mobile.grow{
  display: block;
  position: relative;
  bottom: 10px;
  width: 100%;
  transition: width 1.5s linear;
}
    .project_scope{
     padding-left: 0;
    }
    .credit-section{
      /* font-size: 1.5rem; */
      margin-top: 50px;
      /* display: flex;
      flex-direction: column; */
    }
   
}