/* @import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
.App {
  text-align: center;
}
hr {
  height: 2px;
  background-color: black;
  border: none;
  opacity: 1;
}

a {
  text-decoration: none;
}

.page a {
  color: #000000;
}

.page {
  /* font-family: "Archivo", sans-serif; */
  /* color: red; */
  transition: color 1s ease;
}
.page h1 {
  font-size: 1rem;
  font-size: 14px;
  font-weight: 600;
  margin-top: 0;
}
.page h2 {
  font-size: 1.2rem;
}

.page h3,
.tag h3 {
  /* font-size: .6rem; */
  /* font-weight: 300; */
  /* letter-spacing: 0.5px; */
  /* line-height: 0.5; */

  /* font-size: 0.8rem; */
  /* font-size: 0.7rem; */
  font-size: 12px;
  font-size: 10px;
  font-size: 9.5px;
  letter-spacing: 0.025rem;
  line-height: 1.1;
  font-weight: 400;
  margin: 0;
}

.subtitle-text,
.tag h3 {
  text-transform: uppercase;
}

.tag-container {
  display: flex;
  flex-direction: column;
  gap: 3px 0;
}

.page .jumbo-text {
  font-size: 1.25rem;
  /* font-weight: 600; */
  font-weight: 550;
  /* letter-spacing: -0.05rem; */
  /* word-spacing: 0.125rem; */
  /* line-height: 1.1; */

  /* text-transform: uppercase; */
  /* letter-spacing: -0.06rem; */
  line-height: normal;
  line-height: 1;
  letter-spacing: -0.025rem;
  letter-spacing: -0.015rem;
  /* font-weight: 700; */
  /* visibility: hidden; */
}

.page .jumbo-text p {
  margin: 0 0 1.5em;
}

.title-text {
  margin-bottom: 5px;
}

@media (min-width: 800px) {
  .page .jumbo-text {
    font-size: 2rem; /* fallback */
    /* font-size: min(max(2rem, 3vw), 2.5rem); */
    /* font-size: min(max(2rem, 4vw), 54px); */
    font-size: min(max(2rem, 3vw), 50px);

    letter-spacing: -0.04rem;
    letter-spacing: -0.075rem;
    letter-spacing: -0.09rem;
    line-height: 1;
    /* font-weight: 600; */

    /* letter-spacing: 0; */
    word-spacing: 0;
    /* line-height: normal; */
    /* line-height: 1; */
    /* font-weight: 600; */
    /* font-weight: 600; */
  }
}
/* 
@media (min-width: 1200px) {
  .page .jumbo-text {
    letter-spacing: -0.085rem;
  }
} */
