@import "tailwindcss";

@font-face {
  font-family: "Helvetica Neue";
  src: url("/src/assets/fonts/HelveticaNeue-Regular.otf") format("opentype");
  font-weight: 400;
}

@theme {
  --font-mono: "ballinger-mono", ui-monospace, SFMono-Regular, Menlo, "Roboto Mono", monospace;
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;

  @keyframes fade {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 0.8;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
  }
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  html {
    @apply w-full h-dvh bg-black fixed overflow-hidden;
  }

  body {
    @apply w-full h-full m-0 p-0 text-white bg-black;
  }

  a {
    text-decoration: none;
  }

  .control {
    @apply uppercase font-mono tracking-tight flex items-center gap-2 h-10 md:h-8 w-60 md:w-fit rounded-full transition-colors duration-500 justify-center text-white/80;
  }
}
