html {
  background: #000000;
  /* transition: background-color 1s ease; */

  --yellow: #bcfc45;
  --transition-fadescroll: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
  --screen: 800;
}

body {
  margin: 0;
  font-family: "Archivo", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: black; */
  background: transparent;
  transition: background-color 1s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body.home-page {
  cursor: default;
}

@media (min-width: 800px) {
  body.about-page {
    cursor: none;
  }

  body.home-page .project img:hover {
    cursor: none;
  }
}
