.animation-container {
  opacity: 0;
  transform: translate(0, 30px);
  transition: opacity 1.5s ease-in-out 1s, transform 1.5s ease-in-out 1s;
}

.animation-container.show {
  opacity: 1;
  transform: translate(0);
}
