.cursor-container {
  position: fixed;
  z-index: 998;
  pointer-events: none;
  left: 0;
  top: 0;
}

.cursor {
  transform: translate(-50%, -50%) scale(var(--cursor-scale));
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  width: 100px;
  height: 100px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: transparent;
  opacity: 1;
}

.home-page .cursor,
.project-page .cursor,
.other-page .cursor,
.admin-page .cursor {
  opacity: 1;
  background-color: transparent;
  transform: translate(-50%, -50%) scale(0);
}

.other-page .cursor.animation {
  opacity: 1;
  background-color: var(--yellow);
  transform: translate(-50%, -50%) scale(0.5);
}

.about-page .cursor {
  opacity: 1;
  background-color: var(--yellow);
  transform: translate(-50%, -50%) scale(var(--cursor-scale));
}

.project-page .cursor {
  opacity: 1;
  background-color: var(--cursor-color);
  transform: translate(-50%, -50%) scale(var(--cursor-scale));
}

.cursor.project {
  opacity: 1;
  transform: translate(-50%, -50%) scale(var(--cursor-scale));
}

.cursor.link {
  opacity: 0;
  /* background-color: var(--yellow); */
  background-color: transparent;
  transform: translate(-50%, -50%) scale(0);
}

/* .cursor.unofficial {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.75);
  background-color: transparent !important;
} */

#cursor-unofficial {
  width: 100px;
  height: 100px;
  pointer-events: none;
  position: relative;
  transition: opacity 0.2s ease-in-out, fill 0.2s ease-in-out;
  animation: rotate 16s linear infinite forwards;
  opacity: 0;
}

/* .cursor.unofficial #cursor-unofficial {
  opacity: 1;
} */

.project-page .cursor.video {
  opacity: 1;
  background-color: transparent !important;
  transform: translate(-50%, -50%) scale(var(--cursor-scale));
  transition: none;
}

#cursor-video-play,
#cursor-video-pause {
  width: 105px;
  height: 105px;
  pointer-events: none;
  position: absolute;
  /* transform: translate(-20px, -20px); */
  top: 0;
  left: 0;
  /* fill: transparent; */
  display: none;
}

.project-page .cursor.video #cursor-video-play {
  display: block;
}
.project-page .cursor.video.playing #cursor-video-play {
  display: none;
}
.project-page .cursor.video.playing #cursor-video-pause {
  display: block;
}

/* @keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
} */
