.hamburger__holder {
  display: none;
}
.hamburger-menu {
  display: none;
}
.hamburger-menu.visible {
  display: block;
}

.footer__holder {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 800px) {
  .hamburger__holder {
    display: block;
    position: fixed;
    width: 100%;
    /* width: 93%;
    right: 20px; */
    top: 0px;
    z-index: 998;
    /* transform: translateY(0px);
    transition: all 1s ease-in-out, transform 1s ease-in-out; */
    /* background-color: red; */
  }
  /* .hamburger__holder.hidden {
    opacity: 0;
    transform: translateY(10px);
    display: block;
    position: fixed;
    top: 0px;
    right: 20px;
    z-index: 998;
    transition: all 1s ease-in-out, transform 1s ease-in-out;
  } */
  .sticky-info-holder {
    display: none;
  }
  .smiley-hamburger {
    width: 10vw;
    background-color: black;
    border-radius: 50%;
  }
}
