#layout {
  /* min-height: 100%; */
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  transition: height 1s;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.description-text {
  display: flex;
  flex-direction: column;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.page-container.loading {
  min-height: 101vh;
}

.row {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  gap: 20px;
  /* position: relative; */
}

.col {
  padding: 0 5%;
}

/* .sticky {
  margin-top: 30px;
} */

.col-2 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (min-width: 960px) {
  .row {
    flex-direction: row;
    gap: 0 4%;
    gap: 0 8%;
    /* padding: 0 2%; */
    /* padding: 0 1.5%; */
    /* padding: 0 min(1.5%, 25px); */
    padding: 0 20px;
  }

  .col {
    /* padding: 0 0 0 8%; */
    padding: 0 0 0 8%;
    /* padding: 0 0 0 6%; */
    /* padding: 0 0 0 3%; */
  }

  .project-page .col {
    padding: 0 0 0 3%;
  }

  .col-3 .col {
    /* width: 25%; */
    max-width: 400px;
  }

  .col.full {
    padding: 0;
  }

  .col.primary {
    /* width: 50%; */
    /* width: 70%; */
    width: 70%;
    padding: 0;
    max-width: 1000px;
    /* max-width: 4000px; */
  }

  .col.what {
    order: 2;
  }
  .col.links {
    order: 1;
  }

  .col-2.sticky {
    top: 50px;
    position: sticky;
  }
}

@media (min-width: 1440px) {
  .row {
    gap: 0 4%;
  }
  .col-3 .col {
    width: 20%;
  }

  .col-2 {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
  }

  .col-2 .col {
    width: 50%;
  }

  .col.what {
    order: 1;
  }
  .col.links {
    order: 2;
  }

  .col.primary {
    width: 60%;
    max-width: 4000px;
  }
}

@media (min-width: 1920px) {
  .col-3 .col {
    /* padding: 0 0 0 6%; */
    width: 50%;
  }

  .col.primary {
    width: 70%;
  }
}
