.unofficials__container{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.unofficials-blurb__container{
  opacity: 0;
  color: white;
  width: 95%;
  margin-top: 38vh;
  margin-bottom: 10vh;
  transform: translateY(20px);
  transition: all 2s;
}
.unofficials-blurb__container.show{
  opacity: 1;
  transform: translateY(0px);
  color: white;
  width: 95%;
  margin-top: 38vh;
  margin-bottom: 10vh;
  transition: all 3s;
}
.unofficials-blurb__holder{
  opacity: 1;
  width: 60%;
  transform:translateY(0px);
  transition: all 1.5s;
}
.unofficials-blurb__holder.hide{
  opacity: 0;
  transform:translateY(-30px);
  transition: all 1.5s;
}
.unofficials-project__container{
  width: 95%;
  line-height: 0px;
}
.unofficials-title{
  font-size: 6rem;
  color: transparent;
-webkit-text-stroke-width: .3px;
-webkit-text-stroke-color: white;
transition: all .8s ;
margin-bottom:11px;
letter-spacing: -5px;
}
.unofficials-title:hover{
  font-size: 6rem;
  color: white;
-webkit-text-stroke-width: .3px;
-webkit-text-stroke-color: transparent;
transition: all .5s ;
cursor: pointer;
}