.intro {
  height: 100vh;
  height: 100dvh;
  transition: height 1s, padding 1s;
  width: 100%;
  position: relative; /* for logo */
  display: flex;
  align-items: center;
  padding: 0;
  /* transition: height 2s ease-in-out, padding 2s ease-in-out; */

  background-color: #000000;
  opacity: 1;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  /* display: none; */
  transition: opacity 2s ease-in-out 0s;
  pointer-events: none;
}

.intro.ended {
  /* padding: 5% 0 15%; */
  opacity: 0;
  pointer-events: none;
}

.intro.hide {
  /* display: none; */
  opacity: 0;
}

.intro__logo {
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.intro__logo img {
  height: 100%;
  width: auto;
}

.intro__text {
  display: flex;
  flex-direction: column;
  padding: 5%;
  transform: translate(0, 0);
  transition: transform 2s ease-in-out 2s;
}

.intro.ended .intro__text {
  transform: translate(0, -30px);
}

.intro__text p {
  text-transform: uppercase;
  /* font-weight: 900;
  font-size: 3.5rem; */
  font-weight: 700;
  font-size: max(min(15vw, 5rem), 3.5rem);
  letter-spacing: -0.25rem;
  word-spacing: 0.2rem;
  margin: 0;
  color: white;
  line-height: 0.8;
  /* transition: font-size 2s ease-in-out; */
}

/* .ended .intro__text p {
  font-size: max(min(15vw, 4.5rem), 3rem);
} */

@media (min-width: 800px) {
  /* .intro {
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    transition: opacity 2s ease-in-out 1s;
  } */

  /* .intro.hide {
    opacity: 0;
    pointer-events: none;
  } */
}
