.sticky-info{
  position: fixed;
  width: 100%;
  top: -105px;
  z-index: 999;
  text-decoration: none;
  height: 180px;
  background-color: transparent;
}
.white{
  color: white;
}
.underline:hover{
text-decoration: underline;
}
/* .nav-item__holder{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 200px;
  padding-left: 2%;
  padding-right: 2%;
  background-color: transparent;
} */
.nav_logo__holder{
/* background-color: red; */
/* float: left; */
}
.nav-info-work__container{
  display: flex;
  width: 200px;
  justify-content: space-around;
  /* background-color: aquamarine; */
}
.nav__logo{
  height: 40px;
  position: relative;
  top: 11px;
}
.cursor{
  color: white;
  /* cursor: url(https://res.cloudinary.com/bobalobbadingdong/image/upload/c_scale,h_40,w_40/v1670881191/Cherry/Cherry%20Clients/Graphic%20Assets/MELT-Yellow-ICON-BIG-PLUS_gsiugq.png),
  auto; */
  cursor: pointer;
  text-decoration: none;
  fill-opacity: .5;
  
}
.hover-effect{
  font-weight: 500;
  font-size: 1.5rem;
  color: transparent;
  -webkit-text-stroke-width: .4px;
  -webkit-text-stroke-color: white;
  transition-property: color;
  transition: all .25s ease-in-out;
}
.hover-effect:hover{
  color: white;
  -webkit-text-stroke-width: .4px;
  -webkit-text-stroke-color: white;
  transition-property: color;
  transition: all .45s ease-in-out;
}
.hover-effect-black{
  font-weight: 500;
  font-size: 1.5rem;
  color: transparent;
  -webkit-text-stroke-width: .6px;
  -webkit-text-stroke-color: black;
  animation:hoverEffect;
  transition-property: color;
  transition: all .25s ease-in-out;
}
.hover-effect-black:hover{
  color: black;
  -webkit-text-stroke-width: .6px;
  -webkit-text-stroke-color: black;
  transition-property: color;
  animation:hoverEffect;
  -webkit-animation:hoverEffect;
  transition: all .25s ease-in-out;
}

@keyframes hoverEffect {
  0% { -webkit-text-stroke-color: transparent;}
  50% { -webkit-text-stroke-color: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); } 
  100% { -webkit-text-stroke-color: black; }
} 
.isNotVis{
  display: none;
  transform: translateY(50px);
  transition: display 1s ease-in-out, transform 1s ease-in-out;
  /* display: none;
  transition-property: display;
  transition: all 0.4s ease-in-out; */
}
@media (max-height:700px){
  .hover-effect{
    font-weight: 500;
    font-size: 1.3rem;
    color: transparent;
    -webkit-text-stroke-width: .4px;
    -webkit-text-stroke-color: white;
    transition-property: color;
    transition: all .25s ease-in-out;
  }
  .hover-effect:hover{
    color: white;
    -webkit-text-stroke-width: .4px;
    -webkit-text-stroke-color: white;
    transition-property: color;
    transition: all .45s ease-in-out;
  }
  .hover-effect-black{
    font-weight: 500;
    font-size: 1.3rem;
    color: transparent;
    -webkit-text-stroke-width: .6px;
    -webkit-text-stroke-color: black;
    animation:hoverEffect;
    transition-property: color;
    transition: all .25s ease-in-out;
  }
  .hover-effect-black:hover{
    color: black;
    -webkit-text-stroke-width: .6px;
    -webkit-text-stroke-color: black;
    transition-property: color;
    animation:hoverEffect;
    -webkit-animation:hoverEffect;
    transition: all .25s ease-in-out;
  }
}

